body {
    margin: 0px;
    background-color: black;

}

#root {
    background-image: url('../../images/stock-photo-elegant-abstract-background-design-green.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    margin: 0px auto 0px auto;
}

.main-title {
    margin: 10px auto 5px 25px;
    font-size: 2.5rem;
}

#mt-intro,
#mt-name {
    margin: 0px;
}

#about-section,
#skill-section,
#hobbie-section,
#unrelated-section {
    margin: 10px 20px 5px 20px;
    // the last number in the rgb is the trans part
    background: rgba(18, 59, 14, 0.737);
    border-radius: 20px;
    padding: 10px;

}

.gr {
    background-image: url('../../images/conor-luddy-IGa3Md8wP6g-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #aaf777;
    font-size: large;
    font-weight: 800;
}

#hobbie-list {
    list-style: none;
}

.hl-title {
    text-decoration: underline;
    margin-bottom: 0px;
}

.hl-text {
    margin: 5px auto 0px 10px;
}

//this is for the mediaquery 760px+
// main {
//     display: grid;
//     grid-template-areas:
//         'about skill'
//         'hobbie unrelated';
// }

// #about-section {
//     grid-area: 'about';
// }

// #skill-section {
//     grid-area: 'skill';
// }

// #hobbie-section {
//     grid-area: 'hobbie';
// }

// #unrelated-section {
//     grid-area: 'unrelated';
// }