header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-title {
    margin: 10px auto 5px auto;
    font-size: 2.5rem;
}

.nav-bars {
    display: none;
}

#nav-btn:active {
    color: aqua;
}

#home-btn,
#projects-btn,
#contact-btn {
    margin: 15px auto 15px auto;
}

#home-btn:hover,
#projects-btn:hover,
#contact-btn:hover {
    background-color: #aaf777;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

.nav-bars.show-nav {
    display: flex;
    position: fixed;
    top: -15px;
    right: 0px;
    height: 100vh;
    flex-direction: column;
    background-color: #476930;
    list-style: none;
    padding-top: 50px;
    padding-right: 30px;
    text-align: center;
}

.menu-button {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
}